<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Add Boat</h1>
    <form action="/addBoat" method="POST">
      <ul>
       <li>
         <label for="name">Name:</label>
         <input type="text" id="name" name="b_name">
         
       </li>
       <br/>
       <li>
         <label for="color">Color:</label>
         <input type="text" id="color" name="b_color">
       </li>
      </ul>
      <input type=submit value="submit"/>
     </form>
  </body>
</html>
