<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Add Boat</h1>
    <form action="/addSailor" method="POST">
      <ul>
       <li>
         <label for="name">Name:</label>
         <input type="text" id="name" name="s_name">
         
       </li>
       <br/>
       <li>
         <label for="age">Age:</label>
         <input type="number" id="age" name="age">
       </li>
       <br/>
       <li>
         <label for="experience">Years of Experience:</label>
         <input type="number" id="experience" name="experience">
       </li>
      </ul>
      <input type=submit value="submit"/>
     </form>
  </body>
</html>
