<html>
  <head>
    <title>index of svb project</title>
  </head>
  <body>
    <h1>Add Boat</h1>
    <form action="/addVoyage" method="POST">
      <ul>
       <li>
         <label for="s_id">Sailor ID:</label>
         <input type="number" id="s_id" name="s_id">
         
       </li>
       <br/>
       <li>
         <label for="b_id">Boat ID:</label>
         <input type="number" id="b_id" name="b_id">
       </li>
       <br/>
       <li>
         <label for="date">Voyage Date:</label>
         <input type="date" id="date" name="date">
       </li>
      </ul>
      <input type=submit value="submit"/>
     </form>
  </body>
</html>
